<form method="post" action="{{ path('app_role_delete', {'id': role.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce rôle ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ role.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
